<div class="row align-items-center">
  <div class="col-2 d-flex">
    <i
      class="bi bi-arrow-left-square-fill m-auto"
      (click)="navToNextItem('<')"
    ></i>
  </div>
  <div class="card col-8">
    <div class="card-header">{{ currentProduct?.title }}</div>
    <div class="card-body m-auto text-center">
      <h5 class="card-title">
        <span class="badge bg-secondary">{{ currentProduct?.category }}</span>
      </h5>
      <img [src]="currentProduct?.image" />
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <p class="card-footer">
        {{ currentProduct?.price | currency }}
      </p>
      <a (click)="goBack()" class="btn btn-primary">Go back</a>
    </div>
  </div>
  <div class="col-2 d-flex">
    <i
      class="bi bi-arrow-right-square-fill m-auto"
      (click)="navToNextItem('>')"
    ></i>
  </div>
</div>
