<div class="row row-cols-2 row-cols-md-5 g-4">
  @for (item of fPrdList; track item.id) {
  <div class="col">
    <span class="badge rounded-pill text-bg-primary">{{
      catList[item.catId - 1].name
    }}</span>
    <div
      class="card"
      [ngClass]="{ 'bg-warning': item['quantity'] == 1 }"
      [ngStyle]="{ opacity: item['quantity'] == 0 ? '20%' : '100%' }"
      MyBorder="wheat"
    >
      <img
        [src]="item.image"
        class="card-img-top"
        (click)="navToDetails(item.id)"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">price: only {{ item.price }} L.E.</p>
        <p class="card-text">
          <small class="text-body-secondary"
            >Available: {{ item["available"] }}</small
          >
        </p>
      </div>
      <div
        class="card-footer text-center d-flex justify-content-between align-items-center"
      >
        <small class="text-body-secondary"
          >Items Left: {{ item["quantity"] }}</small
        >
        <button class="btn btn-secondary" (click)="buy(item.id)">Buy</button>
      </div>
    </div>
  </div>
  }@empty{
  <h1>There is no products</h1>
  }
</div>
